@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --brand-50: 228 33% 96%;
    --brand-100: 228 31% 94%;
    --brand-200: 220 30% 86%;
    --brand-300: 220 31% 74%;
    --brand-400: 220 30% 60%;
    --brand-500: 220 29% 44%;
    --brand-600: 222 32% 39%;
    --brand-700: 223 32% 32%;
    --brand-800: 223 30% 27%;
    --brand-900: 223 26% 24%;
    --brand-950: 223 26% 16%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  body {
    @apply bg-background text-black dark:text-white;
  }
}
